/* Estilo del contenido principal para empujar el footer hacia abajo */
#app {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
}

/* Estilo del contenido de la página */
main {
    flex: 1;
}

/* Estilo del footer */
.footer {
    background-color: #28C7AF;
    color: #fff;
    padding: 5px; /* Ajusta el espaciado interno según tus preferencias */
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
}
