body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.col-md-4 {
    max-width: 200px;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.col-md-4 img {
    width: 100%;
    border-radius: 10px 0 0 10px;
}

.col-md-8 {
    padding: 20px;
}

.card-body {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.card-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

.card-text {
    font-size: 18px;
    color: #495057;
}

.strong-text {
    font-weight: bold;
}

.barcode-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.barcode-image {
    max-width: 100%;
}

.barcode-text {
    font-size: 18px;
    color: #495057;
}
