/* Estilo para la barra de navegación */
.navbar {
    background-color: #333;
    padding: 5px 20px;
    border-radius: 15px;
    width: 98%;
    margin: 10px auto 0; /* Ajusta el margen superior según tus preferencias */
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-toggler-icon {
    color: white;
}

.navbar-collapse {
    text-align: center;
}

.navbar .nav-item.dropdown {
    margin-left: auto;
}

.navbar .dropdown-menu {
    background-color: #333;
    border-radius: 10px;
}

.navbar .dropdown-item {
    color: white;
}

.navbar .dropdown-item:hover {
    background-color: #555;
    color: white;
}

.content {
    margin-top: 20px;
}
