

/* Estilos para la tarjeta (card) */
.card {
    margin-top: 20px;
}

/* Estilos para el encabezado de la tarjeta */
.card-header {
    background-color: #343a40;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para los botones en el encabezado de la tarjeta */
.card-header button {
    margin-left: 10px;
}

/* Estilos para la tabla */
.table {
    margin-bottom: 0; /* Elimina el espacio inferior de la tabla */
}

.table th, .table td {
    text-align: center;
}

/* Estilos para el formulario modal */
.modal-content {
    border: none;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-title {
    color: #007bff;
}

/* Estilos para los campos de filtro */
.form-control {
    margin-bottom: 10px;
}

/* Estilos para los mensajes de "No hay datos disponibles" */
.text-center {
    color: #868e96;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #0056b3;
}

.pagination .active a {
    background-color: #0056b3;
}